[package]
name = "trajectory"
version = "0.0.1"
authors = ["Takashi Ogura <t.ogura@gmail.com>"]
description = "Trajectory interpolation"
license = "Apache-2.0"
keywords = ["spline", "robotics", "interpolation"]
categories = ["algorithms"]
repository = "https://github.com/openrr/trajectory"
documentation = "http://docs.rs/trajectory"
readme = "README.md"

[dependencies]
num-traits = "0.1"

[dev-dependencies]
gnuplot = "0.0"